@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

body {
    line-height: 1;
    color: #ffff;
    color: var(--gray);
    font-weight: 600;
    font-family: var(--font-family);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
